body {
    background-image: url("https://wallpaperaccess.com/full/1267200.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: Cormorant Garamond
}

h2 {
    font-family: Cormorant Garamond
}

ul {
    font-family: Cormorant Garamond
    
}

ul.nav {
    padding-left: 0px;
    text-align: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
  }